@import "tailwindcss";

:root {
  --yellow: #F2C200;
  --yellow-dark: #C9A000;
  --gray-dark: #111114;
  --gray-mid: #1E1E24;
  --gray-card: #2A2A32;
  --gray-border: #3A3A45;
  --gray-text: #9CA3AF;
}

body {
  background-color: #111114;
  color: #F9FAFB;
}
